#wrapper {
	width:850px;
	height:315px;
	margin:50px auto 0 auto;
	padding-top:15px;
	background-color:#FFFCEC;
	border:1px solid;
}
#title {
	position:relative;
	height:55px;
	text-align:center;
	font-size:20px;
	line-height:10px;
}
#title > .title-ch {
	font-size:25px;
}
#title > .title-en {
	font-size:15px;
	font-family:'Trykker',sans-serif;
}
#content {
	width:850px;
}
#left {
	position:relative;
	float:left;
	width:200px;
	height:245px;
}
#platform {
	width:100px;
	margin:0px auto;
	font-size:60px;
	text-align:center;
}
#platform-text {
	width:100px;
	margin:0 auto;
	text-align:center;
	font-family:'Trykker',sans-serif;
	line-height:15px;
}
#platform-text > .platform-ch {
	font-size:20px;
}
#platform-text > .platform-en {
	font-size:15px;
}
#time {
	width: 3.3em;
	background-color: #000000;
	color: #F50A0A;
	margin: 40px auto 0 auto;
	text-align: center;
	font-size: 18px;
}
#right {
	position:relative;
	float:right;
	width:650px;
	height:245px;
}
#info-table {
	width:640px;
	line-height:35px;
	text-align:center;
	font-family: 'Helvetica', 'Arial', monospace;
}
#info-table .info-table-ch {
	font-size:18px;
}
#info-table .info-table-en {
	font-size:12px;
	font-family:'Trykker',sans-serif;
}
#table-title > td {
	line-height:6px;
}
.table-train > td {
	background-color:#0A0A0A;
	color:#F50A0A;
	font-size: 20px;
}
#table-space > td {
	line-height:6px;
}
#edit {
	width:850px;
	margin:0 auto;
}
div.indicator {
	line-height:65%;
	font-size: 20px;
	margin: 0px auto;
}
#indicator-title {
	width: 10px;
}

span.oddLight {
	color: #F50A0A;
}
span.evenLight {
	color: #0A0A0A;
}
